{:deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  com.bhauman/rebel-readline {:mvn/version "0.1.4"}
  nrepl/nrepl {:mvn/version "1.1.0"}
  refactor-nrepl/refactor-nrepl {:mvn/version "3.9.1"}
  cider/cider-nrepl {:mvn/version "0.45.0"}
  com.github.liquidz/iced-nrepl {:mvn/version "1.2.480"}}

 :aliases
 {:rebel {:main-opts ["-m" "rebel-readline.main"]}}}
